@use 'styles/material-theme';
@use 'styles/variables';

html {
  height: 100%;
}

body {
  color-scheme: light;
  background-color: var(--phonus-background);
  color: var(--phonus-text);
  font-family: Roboto, sans-serif;
  margin: 0;
  height: 100%;
}
